@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

th {
    @apply bg-red-300 text-white py-1 px-1 border border-gray-300 text-left
}
td {
    @apply bg-blue-200 py-1 px-1 border border-gray-300 text-left w-60
}


tr:nth-child(even) td {
    @apply bg-blue-300
}
th:first-child{
    @apply  w-16
}
td:first-child{
    @apply  w-16
}
th:nth-child(2){
    @apply  w-28
}
td:nth-child(2){
    @apply  w-28
}
th:nth-child(3){
    @apply  w-36
}
td:nth-child(3){
    @apply  w-36
}

tr:hover td {
    @apply bg-gray-300
}
